In [1]:
import sys
print(sys.executable)

/home/sogilvy/miniconda3/envs/datalink/bin/python

In [2]:
import logging
import warnings
import datalink
import sys

warnings.filterwarnings('ignore')
logging.basicConfig(format='%(levelname)s | %(message)s',
                    level=logging.DEBUG,
                    stream=sys.stdout)
log = logging.getLogger(__name__)

In [3]:
MyStore = datalink.link_factory(name='MyStore', db_path='/tmp/test.db', table_name='data',
                                data_fields={'name': None, 'age': 0, 
                                             'postcode': 'default2', 'aliases':[]}
                               )

In [4]:
s = MyStore(age=20)
# s.update(name='Jane Doe', age=40, postcode='L20 2FF')

DEBUG | Creating new database entry with id e9bd0119-862e-47e3-ac04-43f347a417e5.

In [5]:
s.data

{'name': None,
 'age': 20,
 'postcode': 'default2',
 'aliases': [],
 'id': 'e9bd0119-862e-47e3-ac04-43f347a417e5'}

In [6]:
s.name = 'toby'

DEBUG | Updating existing database entry for id e9bd0119-862e-47e3-ac04-43f347a417e5.

In [7]:
s.id

'e9bd0119-862e-47e3-ac04-43f347a417e5'

In [8]:
s2 = MyStore(s.id)

DEBUG | Loading data corresponding to ID: e9bd0119-862e-47e3-ac04-43f347a417e5

In [9]:
s2.data

{'name': 'toby',
 'age': 20,
 'postcode': 'default2',
 'aliases': [],
 'id': 'e9bd0119-862e-47e3-ac04-43f347a417e5'}

In [10]:
s2

In [11]:
type(s2)

traits.has_traits.MyStore

In [12]:
s2.update(age=30, postcode='MA4 3DD')

DEBUG | Updating existing database entry for id e9bd0119-862e-47e3-ac04-43f347a417e5.

In [13]:
s2.data

{'name': 'toby',
 'age': 30,
 'postcode': 'MA4 3DD',
 'aliases': [],
 'id': 'e9bd0119-862e-47e3-ac04-43f347a417e5'}

In [14]:
s3 = MyStore(s2.id)

DEBUG | Loading data corresponding to ID: e9bd0119-862e-47e3-ac04-43f347a417e5

In [15]:
s3.aliases.append('el torro')

DEBUG | Updating existing database entry for id e9bd0119-862e-47e3-ac04-43f347a417e5.

In [16]:
s3.data

{'name': 'toby',
 'age': 30,
 'postcode': 'MA4 3DD',
 'aliases': ['el torro'],
 'id': 'e9bd0119-862e-47e3-ac04-43f347a417e5'}

In [17]:
s3._force_load()

In [18]:
s3.id

'e9bd0119-862e-47e3-ac04-43f347a417e5'

In [19]:
s2.name = 'bob'

DEBUG | Updating existing database entry for id e9bd0119-862e-47e3-ac04-43f347a417e5.

In [20]:
s3.name

'bob'

In [21]:
s3._force_load()
s3.name

'bob'