In [1]:
import sys
print(sys.executable)

In [2]:
import logging
import warnings
import datalink
import sys

warnings.filterwarnings('ignore')
logging.basicConfig(format='%(levelname)s | %(message)s',
                    level=logging.DEBUG,
                    stream=sys.stdout)
log = logging.getLogger(__name__)

In [3]:
MyStore = datalink.link_factory(name='MyStore', db_path='/tmp/test.db', table_name='data',
                                data_fields={'name': None, 'age': None, 'postcode': None})

In [4]:
s = MyStore('2001')
s.update(name='Jane Doe', age=40, postcode='L20 2FF')

DEBUG | Found id 2001
DEBUG | Updating existing database entry for id 2001.

In [5]:
s2 = MyStore(name='Jeff Birch', age=30, postcode='K54 4TX')

DEBUG | Creating new database entry with id fc7373ce-e94e-4942-be6c-39448209716a.

In [6]:
s2.name = 'Jeff A Birch'
s2.data

DEBUG | Found id fc7373ce-e94e-4942-be6c-39448209716a
DEBUG | Updating existing database entry for id fc7373ce-e94e-4942-be6c-39448209716a.

{'name': 'Jeff A Birch', 'age': 30, 'postcode': 'K54 4TX'}

In [7]:
s3 = MyStore('876979bc-5047-4989-ac2c-8133401ba89c', name='Jeff Birch', age=30, postcode='K54 4TX')

DEBUG | Found id 876979bc-5047-4989-ac2c-8133401ba89c
DEBUG | Loading data corresponding to ID: 876979bc-5047-4989-ac2c-8133401ba89c
DEBUG | Found id 876979bc-5047-4989-ac2c-8133401ba89c
DEBUG | Updating existing database entry for id 876979bc-5047-4989-ac2c-8133401ba89c.

In [8]:
s3 = MyStore('876979bc-5047-4989-ac2c-8133401ba89c')
s3.data

DEBUG | Found id 876979bc-5047-4989-ac2c-8133401ba89c
DEBUG | Loading data corresponding to ID: 876979bc-5047-4989-ac2c-8133401ba89c

{'name': 'Jeff Birch', 'age': 30, 'postcode': 'K54 4TX'}