In [1]:
import sys
print(sys.executable)

/home/sogilvy/miniconda3/envs/datalink/bin/python

In [2]:
import logging
import warnings
import datalink
import sys

warnings.filterwarnings('ignore')
logging.basicConfig(format='%(levelname)s | %(message)s',
                    level=logging.DEBUG,
                    stream=sys.stdout)
log = logging.getLogger(__name__)

In [3]:
MyStore = datalink.link_factory(name='MyStore', db_path='/tmp/test.db', table_name='data',
                                data_fields={'name': None, 'age': None, 'postcode': None})

In [4]:
s = MyStore('2001')
s.update(name='Jane Doe', age=40, postcode='L20 2FF')

DEBUG | Loading data corresponding to ID: 2001
DEBUG | Updating existing database entry for id 2001.

In [5]:
s2 = MyStore(name='Jeff Birch', age=30, postcode='K54 4TX')

DEBUG | Creating new database entry with id 03c45079-04d9-45b4-aec7-0a7148114f44.

In [6]:
s2.name = 'Jeff A Birch'
s2.data
my_id = s2.id

DEBUG | Updating existing database entry for id 03c45079-04d9-45b4-aec7-0a7148114f44.

{'name': 'Jeff A Birch', 'age': 30, 'postcode': 'K54 4TX'}

In [7]:
s3 = MyStore(my_id, name='Jeff Birch', age=32, postcode='K54 4TX')

DEBUG | Loading data corresponding to ID: 03c45079-04d9-45b4-aec7-0a7148114f44
DEBUG | Updating existing database entry for id 03c45079-04d9-45b4-aec7-0a7148114f44.

In [8]:
s3 = MyStore(my_id)
s3.data
s3.id

DEBUG | Loading data corresponding to ID: 03c45079-04d9-45b4-aec7-0a7148114f44

{'name': 'Jeff Birch', 'age': 32, 'postcode': 'K54 4TX'}

'03c45079-04d9-45b4-aec7-0a7148114f44'

In [9]:
Client = datalink.link_factory(name="Client", db_path='/tmp/clients.db', table_name='clients',
                              data_fields={'name': None, 'age': None, 'favourite_store': 'Hot Rods'})

In [10]:
gavin = Client(name='Gavin Kirby', age=31, favourite_store='The big sex store')

DEBUG | Creating new database entry with id 216f7efb-e956-4e43-a36a-bd8c2da15a8f.

In [11]:
will = Client(name='Will', age=31, favourite_store='MyStore')

DEBUG | Creating new database entry with id f2daa97a-a507-4959-97f1-115c7c8a6d46.

In [12]:
del(gavin, will)

In [13]:
Client('8d513e7b-6efb-42d1-a868-47d6844703c1', favourite_store='the bigger sex store')

DEBUG | Loading data corresponding to ID: 8d513e7b-6efb-42d1-a868-47d6844703c1
DEBUG | Updating existing database entry for id 8d513e7b-6efb-42d1-a868-47d6844703c1.

In [14]:
liam = Client('thisisliam', name='Liam', age=29, favourite_store="McChomskies")

DEBUG | Loading data corresponding to ID: thisisliam
DEBUG | Updating existing database entry for id thisisliam.

In [15]:
Exchange = datalink.link_factory(name="Exchange", db_path='/tmp/exchanges.db', table_name='exchanges',
                                 data_fields={'name': None, 'est': None, 'assets': ['BTC']})

In [16]:
exmo = Exchange('exmo', name='exmo', est=2015, assets=['BTC', 'XRP', 'ETH'])

DEBUG | Loading data corresponding to ID: exmo
DEBUG | Updating existing database entry for id exmo.

In [17]:
exmo.assets = ['BTC', 'XRP', 'ETH', 'XRP']

DEBUG | Updating existing database entry for id exmo.

In [18]:
exmo.assets.append('XRM')

In [19]:
exmo.assets

['BTC', 'XRP', 'ETH', 'XRP', 'XRM']